java/src/main/resources/xml/documento17.dtd

<?xml version = "1.0" encoding="ISO-8859-1"?>

<!ELEMENT alunos (aluno+)>
<!ELEMENT aluno (nome,turma)>
<!ATTLIST aluno matricula ID #REQUIRED>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT turma (#PCDATA)>
<!ENTITY T1 "A1">
<!ENTITY T2 "B1">
<!ENTITY T3 "C1">
<!ATTLIST turma simbolo ENTITY #REQUIRED>
